# Database
APP_CONFIG__DB__USER=user
APP_CONFIG__DB__PASSWORD=password
APP_CONFIG__DB__HOST=db
APP_CONFIG__DB__PORT=5432
APP_CONFIG__DB__NAME=project-manager

# Security
APP_CONFIG__SECURITY__SECRET_KEY=skibidi
APP_CONFIG__SECURITY__ACCESS_TOKEN_EXPIRE_MINUTES=15
APP_CONFIG__SECURITY__REFRESH_TOKEN_EXPIRE_DAYS=7
APP_CONFIG__SECURITY__ALGORITHM=HS256

# Run
APP_CONFIG__RUN__DEBUG=True

# Redis
APP_CONFIG__REDIS__HOST=redis
APP_CONFIG__REDIS__PORT=6379
APP_CONFIG__REDIS__DB=0
APP_CONFIG__REDIS__MAX_CONNECTIONS=10
APP_CONFIG__REDIS__PASSWORD=

# RabbitMQ
APP_CONFIG__RABBITMQ__HOST=rabbitmq
APP_CONFIG__RABBITMQ__PORT=5672
APP_CONFIG__RABBITMQ__USER=guest
APP_CONFIG__RABBITMQ__PASSWORD=guest
APP_CONFIG__RABBITMQ__VHOST=/
APP_CONFIG__RABBITMQ__NOTIFICATIONS_QUEUE=notifications
APP_CONFIG__RABBITMQ__NOTIFICATIONS_EXCHANGE=notifications
APP_CONFIG__RABBITMQ__DLQ_QUEUE=notifications_dlq

# LiveKit
APP_CONFIG__LIVEKIT__HOST=livekit
APP_CONFIG__LIVEKIT__EXTERNAL_HOST=localhost
APP_CONFIG__LIVEKIT__API_KEY=devkey
APP_CONFIG__LIVEKIT__API_SECRET=secretsecretsecretsecretsecret12
APP_CONFIG__LIVEKIT__WS_PORT=7880
APP_CONFIG__LIVEKIT__HTTP_PORT=7881

# Frontend
VITE_API_BASE_URL=/api